/*Aca lo que modificamos son las barras de hacer scrollpara que se ven mas chicas*/

::-webkit-scrollbar {
  height: 6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 10px;
  transition: background 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

::-webkit-scrollbar-track {
  background: transparent;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #e5e7eb transparent;
}
